BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Allman

ColumnLimit: 100

PointerAlignment: Right

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAroundPointerQualifiers: After

SortIncludes: false
